<div class="container">
  <div class="row">
    <div class="col-sm-4"><h1>Your Profile</h1></div>
    <div class="col-sm-8">
      <div class="alert alert-info" [hidden]="!editForm.dirty">
        <strong>Information:</strong> You have made changes. Any unsaved changes
        will be lost!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <img
          src="{{photoUrl}}"
          class="profile-image thumbnail"
          alt="{{user?.knownAs}}"
        />
        <div class="panel-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user?.city }}, {{ user?.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user?.age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user?.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{ user?.created | date:"mediumDate" }}</p>
          </div>
        </div>
        <div class="panel-footer">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save</button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit profile">
            <form #editForm="ngForm" (ngSubmit)="updateUser()" id="editForm">
              <h4>Description</h4>
              <textarea
                name="introduction"
                rows="6"
                class="form-control"
                [(ngModel)]="user.introduction"
              ></textarea>
              <h4>Looking for:</h4>
              <textarea
                name="lookingFor"
                rows="6"
                class="form-control"
                [(ngModel)]="user.lookingFor"
              ></textarea>
              <h4>Interests:</h4>
              <textarea
                name="lookingFor"
                rows="6"
                class="form-control"
                [(ngModel)]="user.interests"
              ></textarea>
              <h4>Location Details</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input
                  class="form-control"
                  [(ngModel)]="user.city"
                  type="text"
                  name="city"
                />
                <label for="country">City</label>
                <input
                  class="form-control"
                  [(ngModel)]="user.country"
                  type="text"
                  name="country"
                />
              </div>
            </form>
          </tab>
          <tab heading="Edit photos">
              <app-photo-editor [photos]="user.photos" (change)="updateMainPhoto($event)"></app-photo-editor> 
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
